/* Variables and Mixins */
/************ FONTS *************/
@font-face {
    font-family: 'UpaHandwriting Regular';
    src: url('./fonts/UpaHandwritingLatin-Regular.ttf');
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('./fonts/AvenirLTStd-Medium.otf');
}

/************ COLORS *************/
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #232323;
    --blue-color: #005EB8;
    --light-blue-color: #F0F6FB;
}

/* Custom Block Style */

.block .services {
    max-width: 1320px;
    margin: 0 auto;
    padding: 10rem 0;
    font-size: 1.6rem;
    text-align: center;
}

.block .services-subTitle {
    font-family: 'UpaHandwriting Regular';
    color: var(--blue-color);
    font-size: 2rem;
}

.block .services-title {
    font-size: 4rem;
    padding: 2rem 0;
    width: 30%;
    margin: 0 auto;
}

.block .services-container {
    grid-gap: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
}

.block .services .service {
    background-color: var(--light-blue-color);
    max-width: 30rem;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    border-radius: 2rem;
    transition: all .8s ease-in-out;
}

.block .services .service-icon {
    color: var(--blue-color);
    font-size: 6rem;
    text-align: left;
}

.block .services .service-name {
    font-size: 3rem;
    text-align: left;
    width: 40%;
}

.block .services .service:hover {
    background-color: var(--blue-color);
}

.block .services .service:hover .service-icon {
    color: var(--primary-color);
}

.block .services .service:hover .service-name {
    color: var(--primary-color);
}