/************ FONTS *************/
@font-face {
  font-family: "Instrument Sans";
  src: url("./../fonts/InstrumentSans-Regular.ttf");
}
/************ COLORS *************/
:root {
  --primary-color: #FFFFFF;
  --secondary-color: #232323;
  --blue-color: #005EB8;
  --light-blue-color: #F0F6FB;
}

/************ BREAKPOINTS *************/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0 !important;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: "Instrument Sans", sans-serif;
}

.logo {
  padding-right: 4rem;
}
.logo img {
  width: 120px;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
}

.video {
  margin-top: -13rem;
  width: 100%;
  background-color: var(--primary-color);
  opacity: 0.9;
}

.nav {
  position: relative;
  z-index: 5;
}
.nav:before {
  content: "";
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #005EB8;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, calc(100% - 80px) 100%, 0% 100%);
  z-index: -1;
}
.nav-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 1.4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container--menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-container--menu ul {
  list-style: none;
  display: flex;
}
.nav-container--menu ul li {
  margin-right: 2rem;
}
.nav-container--menu ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.4rem;
}
.nav-container--btn {
  display: flex;
  align-items: center;
  grid-gap: 2rem;
}
.nav-container--btn .icons a {
  text-decoration: none;
  background-color: var(--primary-color);
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.nav-container--btn .icons a i {
  color: var(--blue-color);
}
.nav-container--btn .icons a:hover {
  background-color: var(--blue-color);
}
.nav-container--btn .icons a:hover i {
  color: var(--primary-color);
}
.nav-container--btn .contact {
  background-color: var(--blue-color);
  color: var(--primary-color);
  padding: 1.4rem 2rem;
  border-radius: 10rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-container--btn .contact:hover {
  transform: scale(1.04);
}

.footer {
  margin-top: 4rem;
  height: 54rem;
  width: 100%;
  padding: 0 10rem;
  font-family: var(--primary-font);
  color: var(--primary-color);
  margin-top: 10rem;
}
@media screen and (max-width: 1199px) {
  .footer {
    padding: 0 1rem;
  }
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 6rem;
}
@media screen and (max-width: 1499px) {
  .footer-container {
    flex-direction: column;
  }
}
.footer-container--newsletter {
  flex: 32%;
  height: 50rem;
  background-color: var(--gray-color);
  color: var(--secondary-color);
  border-radius: 2rem;
  padding: 4rem 6rem;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
@media screen and (max-width: 1499px) {
  .footer-container--newsletter {
    width: 100%;
  }
}
@media screen and (max-width: 1499px) {
  .footer-container--newsletter .newsletter {
    padding: 4rem 0;
  }
}
.footer-container--newsletter .newsletter h3 {
  font-weight: 400;
  font-size: 3rem;
  padding-bottom: 1rem;
}
.footer-container--newsletter .newsletter p {
  font-size: 1.8rem;
}
.footer-container--newsletter .newsletter-form {
  margin: 2rem 0;
  position: relative;
  border-radius: 2rem;
}
.footer-container--newsletter .newsletter-form input {
  width: 100%;
  padding: 2rem 2rem;
  border: none;
  background-color: var(--primary-color);
  border: 1px solid var(--blue-color);
  font-size: 1.6rem;
  border-radius: 4rem;
}
.footer-container--newsletter .newsletter-form input:focus {
  outline: none;
}
.footer-container--newsletter .newsletter-form button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  height: 80%;
  width: 140px;
  border-radius: 2rem;
  background-color: var(--blue-color);
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
}
.footer-container--newsletter .newsletter-media a {
  text-decoration: none;
  margin: 0 0.4rem;
}
.footer-container--newsletter .newsletter-media a i {
  font-size: 2.2rem;
  width: 60px;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
  border-radius: 4rem;
  transition: all 0.3s ease-in-out;
}
.footer-container--newsletter .newsletter-media a:hover i {
  background-color: var(--blue-color);
  color: var(--primary-color);
}
.footer-container--data {
  flex: 68%;
  height: 50rem;
  background-color: var(--blue-color);
  border-radius: 2rem;
  padding: 4rem 6rem;
  position: relative;
}
@media screen and (max-width: 1499px) {
  .footer-container--data {
    margin-bottom: 4rem;
  }
}
.footer-container--data .menu {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-size: 1.6rem;
}
.footer-container--data .menu-wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .footer-container--data .menu-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.footer-container--data .menu-wrapper--col {
  flex: 33.33%;
}
@media screen and (max-width: 1199px) {
  .footer-container--data .menu-wrapper--col {
    margin-top: 4rem;
  }
}
.footer-container--data .menu-wrapper--col h3 {
  font-size: 2.2rem;
  font-family: 600;
  padding-bottom: 2rem;
  color: var(--primary-color);
}
.footer-container--data .menu .copyright {
  margin-top: 10rem;
}
@media screen and (max-width: 1199px) {
  .footer-container--data .menu .copyright {
    font-size: 1.4rem;
    padding-right: 2rem;
  }
}

.footer-decoration-one {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}
.footer-decoration-one .footer-shape-five {
  background-color: var(--primary-color);
  width: 100px;
  height: 100px;
  border-bottom-left-radius: 2rem;
}
.footer-decoration-one .footer-shape-one {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: -25px;
  right: auto;
}
.footer-decoration-one .footer-shape-two {
  width: 25px;
  height: 25px;
  margin-left: auto;
  position: absolute;
  top: auto;
  bottom: -25px;
  left: auto;
  right: 0%;
}

.footer-decoration-two {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}
.footer-decoration-two .footer-shape-five {
  background-color: var(--primary-color);
  width: 100px;
  height: 100px;
  border-top-left-radius: 2rem;
}
.footer-decoration-two .footer-shape-one {
  position: absolute;
  top: -25px;
  bottom: auto;
  left: auto;
  right: 0%;
  transform: rotate(90deg);
}
.footer-decoration-two .footer-shape-two {
  width: 25px;
  height: 25px;
  margin-left: auto;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: -25px;
  right: auto;
  transform: rotate(90deg);
}

.footer-menu {
  list-style: none;
}
.footer-menu li {
  padding: 1rem 0;
}
.footer-menu li a {
  text-decoration: none;
  color: var(--primary-color);
}

.pagination {
  height: 10rem;
  width: 100%;
  padding: 0 10rem;
  background-color: var(--gray-color);
  display: flex;
  align-items: center;
  margin: 0 0 10rem 0;
}
@media screen and (max-width: 1499px) {
  .pagination {
    display: none;
  }
}

.pagination .pagination-menu {
  width: 100%;
  height: 100%;
}

.pagination .pagination-menu ul {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination .pagination-menu ul li {
  height: 100%;
  display: flex;
  align-items: center;
}

.pagination .pagination-menu ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--blue-color);
  padding: 0 1.4rem;
  display: flex;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 1699px) {
  .pagination .pagination-menu ul li a {
    font-size: 1.6rem;
    padding: 0 1rem;
  }
}
.pagination .pagination-menu ul li a:hover {
  font-weight: 600;
  border-bottom: 2px solid var(--blue-color);
}

.pagination .pagination-menu .current_page_item {
  color: var(--blue-color);
  font-weight: 600;
  border-bottom: 2px solid var(--blue-color);
}

/*# sourceMappingURL=main.css.map */
