/************ FONTS *************/
@font-face {
  font-family: "UpaHandwriting Regular";
  src: url("./../fonts/UpaHandwritingLatin-Regular.ttf");
}
@font-face {
  font-family: "Avenir Medium";
  src: url("./../fonts/AvenirLTStd-Medium.otf");
}
/************ COLORS *************/
:root {
  --primary-color: #FFFFFF;
  --secondary-color: #232323;
  --blue-color: #005EB8;
  --light-blue-color: #F0F6FB;
}

/************ BREAKPOINTS *************/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0 !important;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: "Avenir Medium";
}

.logo {
  padding-right: 4rem;
}
.logo img {
  width: 200px;
  height: 100%;
}

.video {
  margin-top: -13rem;
  width: 100%;
  background-color: var(--primary-color);
  opacity: 0.9;
}

/* WP Blocks */
.wp-block-group {
  max-width: 1320px;
  margin: 2rem auto;
  padding: 2rem;
}

/* Button Light Style */
.button-light a {
  text-decoration: none;
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
  border-radius: 10rem;
  width: 24rem;
  text-align: center;
  padding: 2rem 4rem;
  position: relative;
  display: block;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-size: 2rem;
  z-index: 2;
}

.button-light a:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--blue-color);
  position: absolute;
  display: block;
  left: -100%;
  top: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: -1;
}

.button-light a:hover:before {
  left: 0;
}

.button-light a:hover {
  color: var(--primary-color);
}

.button-light a span {
  padding-right: 2rem;
}

.nav {
  position: relative;
  z-index: 5;
}
.nav:before {
  content: "";
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #005EB8;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, calc(100% - 80px) 100%, 0% 100%);
  z-index: -1;
}
@media screen and (max-width: 1199px) {
  .nav:before {
    width: 60%;
  }
}
.nav-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 1.4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .nav-container {
    width: 100%;
    padding: 0.4rem 2rem;
  }
}
.nav-container--menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .nav-container--menu .logo img {
    width: 14rem;
  }
}
.nav-container--menu .menu-mobile {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--blue-color);
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
}
.nav-container--menu .menu-mobile ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  list-style: none;
}
.nav-container--menu .menu-mobile ul li {
  margin-right: 2rem;
  margin-top: 3rem;
  text-align: center;
}
.nav-container--menu .menu-mobile ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2.6rem;
}
@media screen and (max-width: 1199px) {
  .nav-container--menu .menu-mobile.active {
    display: block;
  }
}
@media screen and (max-width: 1199px) {
  .nav-container--menu .menu-desktop {
    display: none;
  }
}
.nav-container--menu .menu-desktop ul {
  list-style: none;
  display: flex;
}
.nav-container--menu .menu-desktop ul li {
  margin-right: 2rem;
}
.nav-container--menu .menu-desktop ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.4rem;
}
.nav-container--btn {
  display: flex;
  align-items: center;
  grid-gap: 2rem;
}
.nav-container--btn .icons a {
  text-decoration: none;
  background-color: var(--primary-color);
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1199px) {
  .nav-container--btn .icons a {
    font-size: 1.6rem;
    width: 4rem;
    height: 4rem;
  }
}
.nav-container--btn .icons a i {
  color: var(--blue-color);
}
.nav-container--btn .icons a:hover {
  background-color: var(--blue-color);
}
.nav-container--btn .icons a:hover i {
  color: var(--primary-color);
}
.nav-container--btn .mobile-toggle {
  display: none;
}
@media screen and (max-width: 1199px) {
  .nav-container--btn .mobile-toggle {
    display: block;
  }
}
.nav-container--btn .mobile-toggle--open {
  background-color: var(--blue-color);
  color: var(--primary-color);
  border: none;
  border-radius: 10rem;
  font-size: 1.6rem;
  width: 4rem;
  height: 4rem;
}
.nav-container--btn .mobile-toggle--close {
  position: fixed;
  right: 2.5rem;
  top: 2.5rem;
  background-color: var(--primary-color);
  color: var(--blue-color);
  border: none;
  border-radius: 10rem;
  font-size: 1.6rem;
  width: 4rem;
  height: 4rem;
  display: block;
  z-index: 99;
}
.nav-container--btn .contact {
  background-color: var(--blue-color);
  color: var(--primary-color);
  padding: 1.4rem 2rem;
  border-radius: 10rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1199px) {
  .nav-container--btn .contact {
    display: none;
  }
}
.nav-container--btn .contact:hover {
  transform: scale(1.04);
}

.footer {
  background-color: var(--blue-color);
  padding: 14rem 4rem;
}
.footer-container {
  max-width: 1320px;
  margin: 0 auto;
}
.footer ul {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  color: var(--primary-color);
}

.pagination {
  height: 10rem;
  width: 100%;
  padding: 0 10rem;
  background-color: var(--gray-color);
  display: flex;
  align-items: center;
  margin: 0 0 10rem 0;
}
@media screen and (max-width: 1499px) {
  .pagination {
    display: none;
  }
}

.pagination .pagination-menu {
  width: 100%;
  height: 100%;
}

.pagination .pagination-menu ul {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination .pagination-menu ul li {
  height: 100%;
  display: flex;
  align-items: center;
}

.pagination .pagination-menu ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--blue-color);
  padding: 0 1.4rem;
  display: flex;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 1699px) {
  .pagination .pagination-menu ul li a {
    font-size: 1.6rem;
    padding: 0 1rem;
  }
}
.pagination .pagination-menu ul li a:hover {
  font-weight: 600;
  border-bottom: 2px solid var(--blue-color);
}

.pagination .pagination-menu .current_page_item {
  color: var(--blue-color);
  font-weight: 600;
  border-bottom: 2px solid var(--blue-color);
}

.wpcf7-form {
  background-color: var(--light-blue-color);
  padding: 2rem;
  border-radius: 2rem;
}

/*# sourceMappingURL=main.css.map */
