.footer {
    margin-top: 4rem;
    height: 54rem;
    width: 100%;
    padding: 0 10rem;
    font-family: var(--primary-font);
    color: var(--primary-color);
    margin-top: 10rem;

    @include breakpoint(medium) {
        padding: 0 1rem;
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-gap: 6rem;

        @include breakpoint(large) {
            flex-direction: column;
        }

        &--newsletter {
            flex: 32%;
            height: 50rem;
            background-color: var(--gray-color);
            color: var(--secondary-color);
            border-radius: 2rem;
            padding: 4rem 6rem;
            position: relative;
            display: flex;
            flex-flow: column;
            justify-content: space-between;

            @include breakpoint(large) {
                width: 100%;
            }

            .newsletter {

                @include breakpoint(large) {
                    padding: 4rem 0;
                }

                h3 {
                    font-weight: 400;
                    font-size: 3rem;
                    padding-bottom: 1rem;
                }

                p {
                    font-size: 1.8rem;
                }

                &-form {
                    margin: 2rem 0;
                    position: relative;
                    border-radius: 2rem;

                    input {
                        width: 100%;
                        padding: 2rem 2rem;
                        border: none;
                        background-color: var(--primary-color);
                        border: 1px solid var(--blue-color);
                        font-size: 1.6rem;
                        border-radius: 4rem;

                        &:focus {
                            outline: none;
                        }
                    }

                    button {
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        border: none;
                        height: 80%;
                        width: 140px;
                        border-radius: 2rem;
                        background-color: var(--blue-color);
                        color: var(--primary-color);
                        font-size: 1.6rem;
                        font-weight: 600;
                    }
                }

                &-media {
                    a {
                        text-decoration: none;
                        margin: 0 .4rem;

                        i {
                            font-size: 2.2rem;
                            width: 60px;
                            height: 60px;
                            display: table-cell;
                            vertical-align: middle;
                            text-align: center;
                            border: 1px solid var(--blue-color);
                            color: var(--blue-color);
                            border-radius: 4rem;
                            transition: all .3s ease-in-out;
                        }

                        &:hover i {

                            background-color: var(--blue-color);
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }

        &--data {
            flex: 68%;
            height: 50rem;
            background-color: var(--blue-color);
            border-radius: 2rem;
            padding: 4rem 6rem;
            position: relative;

            @include breakpoint(large) {
                margin-bottom: 4rem;
            }

            .menu {
                height: 100%;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                font-size: 1.6rem;

                &-wrapper {
                    display: flex;
                    justify-content: space-between;

                    
                    @include breakpoint(medium) {
                        display: flex;
                        flex-direction: column;
                    }

                    &--col {
                        flex: 33.33%;

                        @include breakpoint(medium) {
                            margin-top: 4rem;
                        }
                    }
    
                    &--col h3 {
                        font-size: 2.2rem;
                        font-family: 600;
                        padding-bottom: 2rem;
                        color: var(--primary-color);
                    }
                }

                .copyright {
                    margin-top: 10rem;

                    @include breakpoint(medium) {
                        font-size: 1.4rem;
                        padding-right: 2rem;
                    }
                }
            }
            
        }
    }
}


.footer-decoration-one {
    position: absolute;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;

    .footer-shape-five {
        background-color: var(--primary-color);
        width: 100px;
        height: 100px;
        border-bottom-left-radius: 2rem;
    }
    
    .footer-shape-one {
        position: absolute;
        top: 0%;
        bottom: auto;
        left: -25px;
        right: auto;
    }
    
    .footer-shape-two {
        width: 25px;
        height: 25px;
        margin-left: auto;
        position: absolute;
        top: auto;
        bottom: -25px;
        left: auto;
        right: 0%;
    }
}


.footer-decoration-two {
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;

    .footer-shape-five {
        background-color: var(--primary-color);
        width: 100px;
        height: 100px;
        border-top-left-radius: 2rem;
    }

    .footer-shape-one {
        position: absolute;
        top: -25px;
        bottom: auto;
        left: auto;
        right: 0%;
        transform: rotate(90deg);
    }
    
    .footer-shape-two {
        width: 25px;
        height: 25px;
        margin-left: auto;
        position: absolute;
        top: auto;
        bottom: 0%;
        left: -25px;
        right: auto;
        transform: rotate(90deg);
    }
}


.footer-menu {
    list-style: none;

    li {
        padding: 1rem 0;

        a {
            text-decoration: none;
            color: var(--primary-color);
        }
    }
}