/* Variables and Mixins */
/************ FONTS *************/
@font-face {
    font-family: 'UpaHandwriting Regular';
    src: url('./fonts/UpaHandwritingLatin-Regular.ttf');
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('./fonts/AvenirLTStd-Medium.otf');
}

/************ COLORS *************/
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #232323;
    --blue-color: #005EB8;
    --light-blue-color: #F0F6FB;
}

/* Custom Block Style */

.info {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    grid-gap: 2rem;
}

.info-icon {
    background-color: var(--blue-color);
    color: var(--primary-color);
    border-radius: 100%;
}

.info-icon i {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-content--name {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.info-content--text {
    font-size: 1.6rem;
}