/************ FONTS *************/
@font-face {
    font-family: 'UpaHandwriting Regular';
    src: url('./../fonts/UpaHandwritingLatin-Regular.ttf');
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('./../fonts/AvenirLTStd-Medium.otf');
}

$primary-font: 'Avenir Medium';
$secondary-font: 'UpaHandwriting Regular';


/************ COLORS *************/
// Default colors
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #232323;
    --blue-color: #005EB8;
    --light-blue-color: #F0F6FB;
    --third-color: #3e2f2a;
    --fourth-color: #F89C10;
    --orange-color: #EDBB88;
}

// // If theme it's dark it will be displayed with this colors.
// [data-theme='dark'] {
//     --primary-color: #FFFFFF;
//     --text-color: #232323;
//     --secondText-color: #232323;
//     --lime-color: #D0EAB0;
//     --pink-color: #E895D0;
//     --orange-color: #FF9696;
//     --cream-color: #FED5CE;
// }
